section {
  z-index: 2;
  position: relative;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 80vh;
   
  .intro {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Rubik", sans-serif;


    h1 {
      font-size: 4rem;
      color: #f5f2f2ef;
      margin: 0;
      opacity: 0;
      transform: translateX(-20px);
      animation: slideInFrom 2s ease-out forwards;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      /* Добавлена тень */
    }

    h2 {
      margin: 0;
      font-size: 1rem;
      color: #e6e2e291;
      transform: translateX(20px);
      animation: slideInFrom 2s ease-out forwards;
    }

    a {
      margin-top: 3%;
    }

    button {
      width: 120px;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      background: linear-gradient(45deg, #e7e7e7, #c0c2c5);
      color: #1b1b1b;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.1s ease;
      box-shadow: 3px 3px 20px rgba(252, 228, 228, 0.5);
      font-family: "Roboto", sans-serif;
      font-weight: 800;
    }

    button:hover {
      background: linear-gradient(45deg, #fffdfd, #d4d6da);
      transform: scale(1.05);
    }

    button:active {
      transform: scale(0.9);
    }

  }
}

.animated_bounceInLeft {
  right: 1rem;
  z-index: 5;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fdd054d7;
  font-family: "Rubik", sans-serif;
  justify-content: flex-start;
}

.container {
  z-index: 4;
  width: 55%;
  margin: 40px auto;
  padding: 20px;
  background-color: #ba4e4e;
  border: 1px solid #e26969;
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(17, 10, 10, 0.596);
  font-family: "Rubik", sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fecfef);
  transition: 0.2s;

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fdd054d7;
  }

  h2:hover {
    color: #a8dd68a7;
  }

  p {
    font-size: 0.89rem;
    margin-bottom: 0.75rem;
    justify-content: flex-end;
  }

  &:hover {
    background: linear-gradient(to right, #ff9a9e, #fecfef, #fecfef, #ff9a9e);
  }

  &.container1 {
    width: 50%;
    background: linear-gradient(to right, #ff9a9e, #fecfef);

    &:hover {
      background: linear-gradient(to bottom, #891414d3, #ba4e4e, #f78080);
    }
  }

  &.container2 {
    // Особые стили для контейнера 2, если нужно
  }

  &.container3 {
    // Особые стили для контейнера 3, если нужно
  }

  &.container4 {
    // Особые стили для контейнера 4, если нужно
  }
} 

footer {
    z-index: 7;
}

#slider-element {
    border-radius: 45%;
    z-index: 9;
    position:fixed;
    top: 50%;
    right: 0.10rem;
    width: 1.76rem;
    height: 5rem;
    background-color: #d68080;
    border: 1px solid #ffffff;
    cursor: move;
    flex-direction: column;
    
  }

  #secone {
    background-color: #890b0b;
  }
    
  #sectwo {
    background-color: #7a082a;
  }

  #secthree {
    background-color: #817746;
  }

  #secfour {
    background-color: #51135f;
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body{
  margin:0;
  padding:0;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size:45px;
  font-weight:700;
  text-align:center;
  color:#2c3e50;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size:25px;
  font-weight:400;
  text-align:center;
  color:#2c3e50;
}
.row{
  width:100%;
  height:80vh;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
}

/* -- SVG CSS -- */

.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.svg-separator.bottom{
  top: auto;
  bottom: 0;
}
.sep1{
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep2 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep3 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep4 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep5 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep6 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep7 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep8 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep9 {
  transform: translateY(0%) translateY(-2px) scale(-1,-1);
  transform-origin: bottom;
}
.sep10 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep11 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}
.sep12 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}

/* -- Row BG Color -- */

.green{background-color:#03a678;}
.green2{background-color:#1bbc9b;}
.red{background-color:#d24d57;}
.light-grey{background-color:#ecf0f1;}
.light-grey2{background-color:#ecf0f1;}
.dark-blue{background-color:#22313f;}
.grey-blue{background-color:#6c7a89;}
.black{background-color:#333;}
.stupid-blue{background-color:#19b5fe;}