section {
    z-index: 2;
    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;

    .intro {
        padding: 1rem;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Rubik", sans-serif;

        h1 {
            font-size: 2.8rem;
            color: #f5f2f2ef;
            margin: 0;
            opacity: 0;
            transform: translateX(-20px);
            animation: slideInFrom 2s ease-out forwards;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Добавлена тень */
        }

        h2 {
            margin: 0;
            font-size: 1rem;
            color: #e6e2e291;
            transform: translateX(20px);
            animation: slideInFrom 2s ease-out forwards;
        }

        a {
            margin-top: 3%;
        }

        button {
            display: flex;
            justify-content: center;
            width: 6rem;
            padding: 0.5rem 1rem;
            font-size: 0.7rem;
            background: linear-gradient(45deg,  #e7e7e7, #c0c2c5);
            color: #1b1b1b;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.1s ease;
            box-shadow: 3px 3px 20px rgba(252, 228, 228, 0.5);
            font-family: "Roboto", sans-serif;
            font-weight: 800;
        }
        
        button:hover {
            background: linear-gradient(45deg,  #fffdfd, #d4d6da);
            transform: scale(1.05);
        }
        
        button:active {
            transform: scale(0.9);
        }
        
    }
}
