@keyframes slideInFrom {
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes growFromCenter {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes loadButton {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes animateBodyGradient {
    0%, 100% {
        background: radial-gradient(circle, 
        rgba(20, 20, 20, 0.96) 0%,    
        rgba(18, 18, 18, 0.96) 10%,  
        rgba(16, 16, 16, 0.96) 20%,  
        rgba(14, 14, 14, 0.96) 30%,  
        rgba(12, 12, 12, 0.96) 40%,  
        rgba(10, 10, 10, 1) 60%,           
        rgba(0, 0, 0, 1) 100%);
    }
    50% {
        background: radial-gradient(circle, 
        rgba(20, 20, 20, 0.96) 0%,    
        rgba(18, 18, 18, 0.96) 10%,  
        rgba(16, 16, 16, 0.96) 20%,  
        rgba(14, 14, 14, 0.96) 30%,  
        rgba(12, 12, 12, 0.96) 40%,  
        rgba(10, 10, 10, 1) 70%,           
        rgba(0, 0, 0, 1) 100%);
    }
}

@keyframes animate-border {
    0% {
        text-shadow: 0 0 2px #ff8000, 0 0 4px #ff8000, 0 0 6px #ff8000,
                     0 0 8px #80ff00, 0 0 10px #80ff00, 0 0 12px #80ff00,
                     0 0 14px #80ff00, 0 0 16px #80ff00;
    }
    50% {
        text-shadow: 0 0 2px #80ff00, 0 0 4px #80ff00, 0 0 6px #80ff00,
                     0 0 8px #ff8000, 0 0 10px #ff8000, 0 0 12px #ff8000,
                     0 0 14px #ff8000, 0 0 16px #ff8000;
    }
    100% {
        text-shadow: 0 0 2px #ff8000, 0 0 4px #ff8000, 0 0 6px #ff8000,
                     0 0 8px #80ff00, 0 0 10px #80ff00, 0 0 12px #80ff00,
                     0 0 14px #80ff00, 0 0 16px #80ff00;
    }
}
