.create-menu {
    z-index: 2;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    user-select: none;
    pointer-events: stroke;

    .sidebar {
        position: relative;
        flex-direction: column;
        top: 0;
        left: 0;
        padding: 0 1rem;
        min-width: 200px;
        height: 100%;
        border-right: 1px solid rgba(240, 234, 234, 0.089);
        box-sizing: border-box;
        z-index: 10;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            color: currentColor;
            width: 100%;
            height: 50px;
            margin: 0;
            color: rgba(255, 251, 251, 0.938);

            .logo {
                margin-top: 6vh;
                margin-right: 4px;
                justify-content: center;
                position: relative;
                font-size: 1.2rem;
                color: currentColor;
                letter-spacing: 0.05vw;
                font-family: "Anton", sans-serif;
                font-weight: 500;
                cursor: pointer;
            }

            .logo-image {
                margin-top: 6vh;
                width: 1.75rem;
                height: 1.75rem;
                object-fit: fill;
                border-radius: 10px;
            }
        }

        .toolbar {
            margin-top: 7.5vh;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            text-decoration: none;
            color: currentColor;
            width: 100%;
            height: auto;
            color: rgba(255, 251, 251, 0.938);

            .tool {
                width: 1.75rem;
                height: 1.75rem;
                padding: 3px;
                margin: 0.2rem 0;
                object-fit: contain;
                color: #1b1b1b;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.1s ease;
                background: linear-gradient(45deg, #0f0f0fd7, #302e2e);
                box-shadow: 3px 3px 20px rgba(36, 35, 35, 0.5);
                font-family: "Roboto", sans-serif;
                font-weight: 800;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .tool {
                &.open-link {
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: 3rem;
                    padding: 3px;
                    color: #1b1b1b;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: background-color 0.3s ease, transform 0.1s ease;
                    background: linear-gradient(45deg, #0f0f0fd7, #302e2e);
                    box-shadow: 3px 3px 20px rgba(36, 35, 35, 0.5);
                    font-family: "Roboto", sans-serif;
                    font-weight: 800;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .get-link-container {
                z-index: 5;
                position: absolute;
                display: flex;
                left: calc(3rem + 6vw);
                background: linear-gradient(-45deg, #0f0f0fc2, #161616b9);
                padding: 0.5rem;
                border-radius: 0.5rem;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                align-items: center;
                font-size: 0.55rem;

                transform: translateX(-20px);
                animation: slideInFrom 0.3s ease-in-out forwards;


                &.closed {
                    display: none;
                }

                .get-link-input {
                    flex: 1;
                    padding: 0.5rem;
                    margin-right: 0.5rem;
                    font-size: inherit;
                    border: 1px solid #333;
                    border-radius: 0.5rem;
                    background-color: #222;
                    color: #fff;
                }

                .get-link-button {
                    position: relative;
                    padding: 0.5rem 0.75rem;
                    border: none;
                    font-size: inherit;
                    border-radius: 0.5rem;
                    background-color: #444;
                    color: #fff;
                    overflow: hidden;
                    cursor: pointer;

                    &:hover {
                        background-color: #666;
                    }

                    &.copied {
                        color: #28a745;

                        .progress {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(255, 255, 255, 0.3); // Полупрозрачный белый как индикатор
                            animation: loadButton 4s linear forwards; // Анимация заполнения
                        }
                    }
                }
            }

            .photo-upload-container {
                z-index: 5;
                position: fixed;
                left: 11vw;
                padding: 0.6rem;
                font-size: 0.55rem;
                background: linear-gradient(-45deg, #0f0f0fc2, #161616b9);
                border-radius: 10px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: 0;

                transform: translateX(-20px);
                animation: slideInFrom 0.3s ease-in-out forwards;

                &.closed {
                    display: none;
                }

                .photo-preview {
                    width: 100%;
                    margin-bottom: 15px;
                    text-align: center;
                    justify-content: center;

                    .photo-preview-image {
                        max-width: 100%;
                        max-height: 300px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
                    }
                }

                .photo-upload-input-container {
                    position: relative;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                    width: 100%;
                    cursor: pointer;

                    input[type="file"] {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }

                    .custom-file-label {
                        flex: 1;
                        position: relative;
                        background-color: #302d2d69;
                        color: currentColor;
                        padding: 10px;
                        border-radius: 5px;
                        border: 1px solid #cccccc1a;
                        text-align: center;
                        justify-content: center;
                        width: 100%;
                        cursor: pointer;
                        transition: background-color 0.3s ease-in-out;

                        &:hover {
                            background-color: #4b4747;
                        }
                    }
                }

                .file-name {
                    position: relative;
                    flex: 1;
                    margin-bottom: 10px;
                    font-size: 0.55rem;
                    color: currentColor;
                    text-align: center;
                    justify-content: center;
                }


                .photo-upload-button {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    padding: 0.3rem 0.5rem;
                    font-size: 0.55rem;
                    background: linear-gradient(45deg, #e7e7e7, #c0c2c5);
                    color: #1b1b1b;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: background-color 0.3s ease, transform 0.1s ease;
                    box-shadow: 3px 3px 20px rgba(252, 228, 228, 0.5);
                    font-family: "Roboto", sans-serif;
                    font-weight: 800;

                    &:hover {
                        background: linear-gradient(45deg, #fffdfd, #d4d6da);
                        transform: scale(1.05);
                    }

                    &:active {
                        transform: scale(0.9);
                    }

                    &.uploaded {
                        color: #28a745;

                        .progress {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 20px;
                            background-color: rgba(255, 255, 255, 0.3); // Полупрозрачный белый как индикатор
                            animation: loadButton 4s linear forwards; // Анимация заполнения
                        }
                    }
                }
            }

            .qrcode-upload-container {
                z-index: 5;
                position: absolute;
                left: 11vw;
                background: linear-gradient(-45deg, #0f0f0fc2, #161616b9);
                padding: 28px;
                border-radius: 20px;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
                flex-direction: column;
                align-items: center;
                opacity: 0;

                transform: translateX(-20px);
                animation: slideInFrom 0.3s ease-in-out forwards;

                &.closed {
                    display: none;
                }

                .qrcode-input {
                    width: 100%;
                    margin-bottom: 15px;
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid #cccccc1a;
                    font-size: 1rem;
                    background-color: #302d2d69;
                    color: #fff;
                    display: none;
                }

                .qrcode-preview {
                    margin-bottom: 15px;
                    text-align: center;
                    justify-content: center;
                    width: 100%;
                    border-radius: 20px;
                }

                button {
                    width: 160px;
                    padding: 0.3rem 0.5rem;
                    font-size: 0.55rem;
                    background: linear-gradient(45deg, #e7e7e7, #c0c2c5);
                    color: #1b1b1b;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: background-color 0.3s ease, transform 0.1s ease;
                    box-shadow: 3px 3px 20px rgba(252, 228, 228, 0.5);
                    font-family: "Roboto", sans-serif;
                    font-weight: 800;
                }

                button:hover {
                    background: linear-gradient(45deg, #fffdfd, #d4d6da);
                    transform: scale(1.05);
                }

                button:active {
                    transform: scale(0.9);
                }
            }
        }

        a:hover,
        .tool:hover {
            transform: scale(1.05);
        }

        a:active,
        .tool:active {
            transform: scale(0.9);
        }

    }

    .menu-editor {
        position: relative;
        top: 0;
        left: 0;
        width: 70%;
        min-width: 600px;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .background-image {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 3;
            object-fit: cover;
            background-image: linear-gradient(to left bottom,
                    #141313 10%,
                    #18161679 45%,
                    #554e4e2a 55%,
                    #181515a2 75%,
                    #131212 100%);
            animation: pulse 20s infinite;
            transform-origin: center;
        }

        .menu-title-input {
            z-index: 4;

            input {
                font-family: 'Rubik', sans-serif;
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
                width: 100%;
                background: transparent;
                border: none;
                outline: none;
                color: #333;
                animation: growFromCenter 0.5s ease-out forwards;
                transform-origin: center;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
            }
        }

        .menu-sizes-input {
            position: relative;
            display: flex;
            justify-content: flex-end;
            width: 71%;
            z-index: 6;

            .menu-size-input {
                position: relative;
                margin-left: 0.3rem;

                input {
                    width: auto;
                    padding: 0 0.4rem;
                    font-size: 0.9rem;
                    font-weight: bold;
                    color: #dfdddd;
                    background: #5e575796;
                    border-radius: 1rem;
                    flex: 1;
                    border: none;
                    outline: none;
                    text-align: center;
                    transition: width 0.3s ease;
                }
            }
        }

        .menu-drinks-input {
            position: relative;
            z-index: 4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            overflow-y: scroll;
            margin-bottom: 15vh;

            .menu-drink-item-input {
                z-index: 4;
                display: flex;
                flex-direction: column;
                background: #ffffffcf;
                color: currentColor;
                opacity: 0.7;
                padding: 0.3rem 1rem;
                margin-top: 0.8rem;
                border-radius: 1rem;
                width: 70%;
                height: 2rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                position: relative;
                animation: growFromCenter 0.5s ease-out forwards;
                transform-origin: center;
                transition: top 0.5s ease, left 0.5s ease;

                .top-row {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                }

                .drink-name-input {
                    flex: 1.8;

                    input {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1rem;
                        font-weight: 600;
                        color: rgb(46, 39, 3);
                        background: transparent;
                        border: none;
                        outline: none;
                        width: 100%;
                    }
                }

                .drink-price-input {
                    flex: 1;
                    text-align: right;

                    input {
                        font-size: 1rem;
                        font-weight: 600;
                        color: rgb(73, 8, 8);
                        background: transparent;
                        border: none;
                        outline: none;
                        width: 100%;
                        text-align: right;
                    }
                }

                .drink-description {
                    width: 100%;
                    height: 1rem;
                    margin: 3px 10px;

                    input {
                        font-family: 'Roboto', sans-serif;
                        font-size: 0.6rem;
                        font-weight: 500;
                        color: rgb(46, 39, 3);
                        background: transparent;
                        border: none;
                        outline: none;
                        width: 100%;
                    }
                }
            }
        }

        .menu-logo-input {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 5;

            input {
                width: 100px;
                background: transparent;
                border: none;
                outline: none;
                color: #fff;
                text-align: center;
                margin-bottom: 5px;
            }

            img {
                width: 100px;
                height: auto;
            }
        }

        .menu-mascot-input {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 5;

            input {
                width: 100px;
                background: transparent;
                border: none;
                outline: none;
                color: #fff;
                text-align: center;
                margin-bottom: 5px;
            }

            img {
                width: 100px;
                height: auto;
            }
        }
    }

    .title-buttons,
    .sizes-buttons,
    .drinks-buttons {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        z-index: 6;

        .add-button,
        .remove-button {
            padding: 0.3rem 0.5rem;
            font-size: 0.6rem;
            background: linear-gradient(45deg, #e7e7e7, #c0c2c5);
            color: #1b1b1b;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.1s ease;
            box-shadow: 3px 3px 20px rgba(252, 228, 228, 0.5);
            font-family: "Roboto", sans-serif;
            font-weight: 800;
            margin: 0px 10px;
            transition: top 10s ease, left 10s ease;
        }

        .add-button:hover,
        .remove-button:hover {
            background: linear-gradient(45deg, #fffdfd, #d4d6da);
            transform: scale(1.05);
        }

        .add-button:active,
        .remove-button:active {
            transform: scale(0.9);
        }

        .add-button {
            color: #4caf50;
        }

        .remove-button {
            color: #f44336;
        }
    }

    .options {
        padding: 1rem;
        background-color: transparent;
        border-left: 1px solid rgba(240, 234, 234, 0.089);
        max-width: 14%;
        font-size: 0.7rem;
        flex-direction: column;
        font-family: "Roboto", sans-serif;
        overflow-y: scroll;
        overflow-x: hidden;

        h2 {
            font-size: 0.7rem;
            margin-bottom: 20px;
        }

        &__container {
            display: flex;
            flex-direction: column;
        }

        &__group {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            label {
                font-size: 0.6rem;
                font-weight: 500;
                margin-bottom: 5px;
            }

            input {
                color: #f0e6e6b0;
                font-family: "Roboto", sans-serif;
                font-size: 0.6rem;
                font-weight: 400;
                padding: 5px;
                border: 0px solid transparent;
                border-radius: 4px;
                margin-bottom: 10px;
                width: 100%;
                background-color: transparent;

            }

            input[type="color"] {
                width: 1.2rem;
                height: 1.2rem;
                padding: 0;
            }

            input[type="number"] {
                -moz-appearance: textfield;
                appearance: none;
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .save-notification {
        position: fixed;
        bottom: 2vh;
        left: 1vw;
        padding: 0.3rem 0.3rem;
        background-color: #1b1b1b;
        color: rgb(233, 228, 228);

        text-align: center;
        justify-content: space-around;
        align-items: center;

        z-index: 10;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        animation: slideUp 0.5s forwards;
        border-radius: 0.5rem;

        p {
            margin: 0 0.4rem;
            font-size: 0.6rem;
            font-weight: 400;
        }

        .save-button {
            padding: 0.3rem 0.5rem;
            margin-right: 4px;
            font-size: 0.6rem;
            background: linear-gradient(45deg, #e7e7e7, #c0c2c5);
            color: #1b1b1b;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.1s ease;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
        }

        .save-button:hover {
            transform: scale(1.05);
        }

        .save-button:active {
            transform: scale(0.9);
        }
    }
}