---
import Head from "../components/head.astro";
import ClientMenu from "../components/Menu";
---

<Head title="Меню">
    <div class="client-menu">
        <ClientMenu client:load/>
    </div>
</Head>
