---
import Head from "../components/head.astro";
import MenuEditor from "../components/MenuEditor";
import Toolbar from "../components/Toolbar.astro";

---

<Head title="Создание меню">
    <div class="create-menu">
        <div class="sidebar">
            <a href="/" draggable="false">
                <div class="logo">ÆGIRINE</div>
                <img class="logo-image" src="/createlogo.png" alt="" />
            </a>
            <div class="toolbar">
                <Toolbar/>
            </div>
        </div>
        <MenuEditor client:load/>
    </div>
</Head>
