---
import Head from "../components/head.astro";
import { GetLink } from "../components/GetLink";
import { GetBackground } from "../components/GetBackground"
import { GetQRCode } from "../components/GetQRCode";
import MenuEditor from "../components/MenuEditor";

---

<Head title="Создание меню">
    <div class="create-menu">
        <div class="sidebar">
            <a href="/" draggable="false">
                <div class="logo">ÆGIRINE</div>
                <img class="logo-image" src="/createlogo.png" alt="" />
            </a>
            <div class="toolbar">
                <GetLink client:load/>
                <GetBackground client:load/>
                <GetQRCode client:load/>
            </div>
        </div>
        <MenuEditor/>
    </div>
</Head>
