---
import Head from "../components/head.astro"
import { Background } from "../components/Background"
---
<Head title="Создание меню">
    <div class="create-menu">
        <div class="sidebar">
            <div class="logo">AEGIRINE</div>
        </div>
        <Background client:idle/>
    </div>
</Head>