---
import Intro from "../components/Intro.astro";
import Head from "../components/head.astro";
import Footer from "../components/Footer";
import { ScreenSlider } from '../utils/screen-slider';
---


<Head title="Основная страница">
  <h1 class="animated_bounceInLeft">ÆGIRINE</h1>
  <Intro />

  <div id="slider-element"></div>

  <section>
    <div class="container container1">
      <h2>Зачем?</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident,
        dolorum velit.
      </p>
    </div>
  </section>

  <section>
    <div class="container container2">
      <h2>кому это нужно?</h2>
      <p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident,
        dolorum velit.
	</p>
    </div>
  </section>

  <section>
    <div class="container container3">
      <h2>Как это делается?</h2>
      <p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident,
        dolorum velit.
	  </p>
    </div>
  </section>

  <section>
    <div class="container container4">
      <h2>преимущества</h2>
      <p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident,
        dolorum velit.
	  </p>
    </div>
  </section>

  <Footer client:idle />
</Head>





