---
import Intro from "../components/Intro.astro"
import Head from "../components/head.astro"
---
<Head title="Основная страница">
	<h1 class="animated_bounceInLeft">ÆGIRINE</h1>
	<Intro/>


</Head>

<body>
	<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
	
	
  
	<div id="container1" class="container">
	  <h2>Зачем и кому это нужно?</h2>
	  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, dolorum velit.</p>
	</div>
	

    <div id="container2" class="container">
      <h2>Контейнер 2</h2>
      <p>Контент контейнера 2</p>
    </div>

    <div id="container3" class="container">
      <h2>Контейнер 3</h2>
      <p>Контент контейнера 3</p>
    </div>

    <div id="container4" class="container">
      <h2>Контейнер 4</h2>
      <p>Контент контейнера 4</p>
    </div>


	
  

</body>
<footer>
    <p></p>
  </footer>